@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Star Jedi";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/StarJedi.ttf) format("ttf"),
      url(/fonts/StarJedi.woff2) format("woff2"),
      url(/fonts/StarJedi.woff) format("woff");
  }
  @font-face {
    font-family: "Oswald Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format("ttf"),
      url(/fonts/Oswald-Regular.woff2) format("woff2"),
      url(/fonts/Oswald-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Oswald Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format("ttf"),
      url(/fonts/Oswald-Light.woff2) format("woff2"),
      url(/fonts/Oswald-Light.woff) format("woff");
  }
}

:root {
  font-family: "Oswald Regular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
  color: rgb(131, 131, 129);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: #c2d2e400;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #faf880;
}
body {
  @apply flex flex-col bg-black min-h-svh min-w-80;
  background-image: url("/klipartz.com.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.list,
.my__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

}
.grid__films,
.grid__pilots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  @apply gap-4;
}

.form-control {
  position: relative;
  z-index: 1;
}
label.password {
  position: absolute;
  top: 0;
  right: 0;
  width: 48;
  height: 100%;
  z-index: 10;
  display: flex;
  place-items: center;
  cursor: pointer;
}
.invalid {
  animation: invalidCredentials 600ms ease-in-out infinite alternate;
}

@keyframes invalidCredentials {
  100% {
    color: rgb(240, 100, 123);
    transform: scale(1.03);
  }
}
