@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Star Jedi";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/StarJedi.ttf) format("ttf"),
      url(/fonts/StarJedi.woff2) format("woff2"),
      url(/fonts/StarJedi.woff) format("woff");
  }
  @font-face {
    font-family: "Oswald Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format("ttf"),
      url(/fonts/Oswald-Regular.woff2) format("woff2"),
      url(/fonts/Oswald-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Oswald Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Oswald-VariableFont_wght.ttf) format("ttf"),
      url(/fonts/Oswald-Light.woff2) format("woff2"),
      url(/fonts/Oswald-Light.woff) format("woff");
  }
}

:root {
  --color-text: rgb(236, 236, 201);
  font-family: "Oswald Regular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;
  color-scheme: light dark;
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  @apply flex flex-col bg-black min-h-svh min-w-80;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  @apply gap-4;
}
